<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mountains CRUD App</title>
  <link rel="stylesheet" href = "/style.css"/>
</head>
<body>
  <nav>
    <a href="/">home</a>
    <a href="/mountains">All Mountains</a>
    <a href="/mountains/new">Create  Mountains</a>
  </nav>
  <h1>Our Mountains Page</h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
