<h2>This should show the new form</h2>

<form action="/mountains" method="POST">
  <!-- p*3>input+label -->
  <p>
    <label>Height: </label>
    <input type="number" name="height">
  </p>
  <p>
    <label>Image: </label>
    <input type="text" name="image">
  </p>
  <p>
    <label>Description: </label>
    <input type="text" name="description">
  </p>
  <input type="submit" value="Create mountain">
</form>
