<h2>This is the mountains home page <!--find me in views/home.erb --></h2>
<p>
  Use the links above to create, edit, delete or simply view profiles on the world's tallest mountains.
</p>
<img src="http://66.media.tumblr.com/703537fdc8c8916b0c6bb014582d6fe7/tumblr_obwetvZ80r1udg9aho1_1280.jpg" class="home-image" alt="" />
