<h2>This is where you search for the movie</h2>

<form action="/result" method="GET">
  <p>
    <label>Movie Search</label>
    <input type="text" name="movie_name">
  </p>

  <input type="submit" value="Show result">
</form>
