
<h2>Ask the Magic 8 ball</h2>

<form action="/magic" method="POST">

<div class="magic">
  <label>What do you wish to ask the magic 8-ball?</label>
  <input type="text" name="question" placeholder="Ask a question">
</div>
  <input type="submit" value="ask question" >
</form>
