<h2>Add a new game to the list</h2>

<form action="/games" method = "POST">
  <p>
    <label>Game: </label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Genre: </label>
    <input type="text" name="genre">
  </p>
  <p>
    <label>Description: </label>
    <input type="text" name="description">
  </p>
  <p>
    <label>cover </label>
    <input type="text" name="cover">
  </p>
  <p>
    <label>screenshot </label>
    <input type="text" name="screenshot">
  </p>
  <input type="submit" value="Add game">
</form>
