table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
}

td {
  height: 40px;
  width: 40px;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: grey;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: grey;
}

.robot {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  box-sizing: border-box;
}

.left {
  border-left: 4px solid black;
}

.right {
  border-right: 4px solid black;
}

.down {
  border-bottom: 4px solid black;
}

.up{
  border-top: 4px solid black;
}
