<h1>Movie Backbone App</h1>

<div id="app"></div>

<script type="html/template" id="movie-show-template">
  <p>Title: <%%= title %></p>
  <p>Director: <%%= director %></p>
  <p>Plot: <%%= plot %></p>
  <p>Year: <%%= year %></p>
</script>
