body {
  background: #BDB48E;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: "Dosis";
  }

h1{
  margin-top: 50px;
  margin-bottom: 0px;
}

h2 {
  font-size: 20px;
  text-align: right;
  margin-right: 340px;
}

.container {
  border-color: black;
  border: 5px;

}

/*#topRow1, #topRow2, #topRow3, #secondRow4, #secondRow5, #secondRow6, #thirdRow7, #thirdRow8, #thirdRow9 */

button[id*="Row"]
{
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 65px;
  background-color: lightblue;
  border-radius: 10%;
  font-family: "Dosis";
  /*border: 0;*/
  overflow: hidden;
  vertical-align: top;
}





/* use wildcard selector above - ie $row perhaps */

/*not working*/
/*#topRow2, #secondRow5, #thirdRow8 {
  border-right: 5px;
  border-right-color: black;
}*/
select, #reset {
  margin-right: 100px;
  float: right;
  background-color: lightslategray;
  font-family: "Dosis";
  display: block;
}

#imageTest {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 65px;
  background-color: lightblue;
  border-radius: 10%;
  font-family: "Dosis";
}
