<form>
  <input type="text" id="searchFlickr" placeholder="Search:">
  <input type="submit" value="Search Flickr">
  <br/>

  <div class="pages">
    <button type="button" id="prev">Previous</button>
    <button type="button" id="next">Next</button>
  </div>

</form>

<hr>

<div class="container">
  <h1>Page <span></span></h1>

</div>
