<!DOCTYPE html>
<html>
<head>
  <title>BookPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a href="/books/index">Index</a>
    <a href="/books/new">New</a>    
  </nav>

  <div class="container">
    <hr>
    <%= yield %>
    <hr>
  </div>

</body>
</html>
