<!DOCTYPE html>
<html>
<head>
  <title>Starcraft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Starcraft Races and Heroes</h1>
    <nav>
      <a href="/races">Races</a>
      <a href="/heroes">Heroes</a>
      <a href="/races/new">Add New Race</a>
      <a href="/heroes/new">Add New Hero</a>

    </nav>
  </header>
  <hr>
  <div class="container clearfix">
    <%= yield %>
  </div>
  <hr>

</body>
</html>
