<h3>Ask the big bad badger a question</h3>

<form action="eight_answer" method="GET">

  <input type="text" name="question" placeholder="Enter a question">

  <input type="submit">

</form>
<br>
<img src="https://www-tropo-com.s3.amazonaws.com/wp-content/uploads/2011/12/magic8ball.jpg" alt="eight_ball">
