<h3>Scissors Paper Rock</h3>

<a href="/games/scissor/Scissors" name = "scissor">
  Scissors
</a> <br>

<a href="/games/scissor/Paper" name = "paper">
  Paper
</a> <br>

<a href="/games/scissor/Rock" name = "rock">
  Rock
</a> <br>

<img src="http://orig08.deviantart.net/73bd/f/2007/348/a/e/rock_paper_scissors__wallpaper_by_mattie_p.jpg" alt="eight_ball">
