<h3>Guess the number - Choose a number</h3>

<!-- Look to change to number buttons -->
<a href="/games/secret_number/1">
  1 </a>
<a href="/games/secret_number/2">
  2 </a>
<a href="/games/secret_number/3">
  3 </a>
<a href="/games/secret_number/4">
4 </a>
<a href="/games/secret_number/5">
5 </a>
<a href="/games/secret_number/6">
  6 </a>
<a href="/games/secret_number/7">
7 </a>
<a href="/games/secret_number/8">
  8 </a>
<a href="/games/secret_number/9">
  9 </a>
<a href="/games/secret_number/10">
  10 </a>
<br>
<img src="https://tomahawktake.com/files/2013/12/Numbers.jpg" alt="">
