body{
  background: grey;
}
header {
  background: #008542;
  color: ghostwhite;
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  z-index: 1;
}
li{
  display: inline-block;
  width: 200px;
  height: 85px;
  transition: 0.5s;
  position: relative;
  top: -5px;
  box-sizing: border-box;
}
li:hover{
  background: yellowgreen;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.heading ,li{
  text-align:center;
  position:relative;
  bottom:30px;
}
#name{
    color: black;
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    position: absolute;
    left: 1010px;

    z-index: 2;

}

/*img {
  position: relative;
  top: 100px;
  right: -510px;
  width: 20%;
  height: 30%;
  border: solid;
  border-radius: 230px;
  z-index: 3;
}*/
.landingPage{
  background-image: url("/Users/arpanbhalla/Desktop/wdi-16/homework/WDi16-Homework/Arpan_Bhalla/week_02/day_02/image/357838_64747.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  width:100%;
  top:57px;
  left:0;
  height: 600px;
  font-family: monospace;
}
.heading , li {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}
/*________________________________________________________________________________________________*/
.biographyLandingpage{
  background-image: url("/Users/arpanbhalla/Desktop/wdi-16/homework/WDi16-Homework/Arpan_Bhalla/week_02/day_02/image/2009-09-25_3946.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  height: 600px;
  font-family: monospace;


}
#bioIntro ,p{
  color: white;
  display: block;
  position: fixed;
  top: 70px;

}

#alanImbBioPage{
  position: absolute;
  left: 1000px;
  z-index: 3;
  width: 20%;
  height: 40%;
  border: solid black 3px;
  border-radius: 300px;
}
video {
  max-width: 200px;
  position: absolute;
  top: 170px;
  left: 400px
}
