<h2>This is  our page takes input</h2>
<form action="/result" method="GET">
<p>
  <label>What is the movie name?</label>
  <input type = "text" name="user_input">
</p>

<input type="submit" value="Show result">
</form>
