<h1>Practice rails and ajax</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<button id="uptime">Uptime reload</button>
<p id="uptime"><%= @uptime %></p>

<button id="random">Randomize</button>
<p id="random"><%= @random %></p>

<button id="json">JSON fetch</button>
<p id="json-uptime"></p>
<p id="json-random"></p>
<p id="json-fortune"></p>
<p id="json-quote"></p>
