body {
  font-family: monospace;
  font-size: 1.5em;
  background-color: #7b9b12;
  text-align: center
}
#gingeroreo {
  width:40%;
  border: 5px groove black;
}
a {
  color: ghostwhite;
  text-decoration: none;
}
