// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: gainsboro;
}
a {
  color: hotpink;
  text-decoration: none;
  padding: 2em;
}
img {
  width: 30%;
}
