<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/magic8">Magic 8 Game</a>
  <a href="/secret_number">Secret number</a>
  <a href="/rock">Rock Paper Scissors</a>
</nav>
<%= yield %>

</body>
</html>
