* {
	box-sizing: border-box;
}

body {
		 font-size: 12px;
		 line-height: 17px;
		 font-family: "Times New Roman", serif;
		 color: #656565;
		 margin: 0 auto;
}

#container {
	max-width: 1000px;
	margin: 0 auto;
}

.top {
	height: 200px;
	width: 800px;
	background: Grey;
	/*margin: auto;*/
}

.middle {
	height: 200px;
	width: 800px;
	background: blue;
	/*margin: auto;*/
}

 .bottom {
	 height: 170px;
	 width: 960px;
	 /*margin: auto;*/
 }
.boxes {
	align-items: center;
}
header {
	margin-left: 120px;
}

footer{
	margin-left: 120px;
}


#boxes {
	max-width: 1000px;
	margin: auto;
	padding-left: 20px;
}

#date {
	color: blue;
}
/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
