<h2>Guess the secret number</h2>

<form action="/guessed" method="post">
  <label>Guess a number:</label><br>
  <input type="radio" value="1" name="guessed" placeholder="1"> 1<br>
  <input type="radio" value="2" name="guessed" placeholder="2"> 2<br>
  <input type="radio" value="3" name="guessed" placeholder="3"> 3<br>
  <input type="radio" value="4" name="guessed" placeholder="4"> 4<br>
  <input type="radio" value="5" name="guessed" placeholder="5"> 5<br>
  <input type="radio" value="6" name="guessed" placeholder="6"> 6<br>
  <input type="radio" value="7" name="guessed" placeholder="7"> 7<br>
  <input type="radio" value="8" name="guessed" placeholder="8"> 8<br>
  <input type="radio" value="9" name="guessed" placeholder="9"> 9<br>
  <input type="radio" value="10" name="guessed" placeholder="10"> 10<br>
  <input type="submit">
</form>
