*{
	box-sizing: border-box;
}
body{
	font-size: 12px;
	font-family: "Times New Roman" serif;
	color: #656565;
	text-align: center;
	}
.container{
	width: 1200px;
	min-height: 200px;
	background: gainsboro;
	margin: 10 auto;
	padding: 20px;
}
.logo{
	text-align: left;
	padding: 1% 13%;
}
.centralNews{
	text-align: left;
	padding: 1% 13%;
}
.sponsors{
	border: 2px;
}
clearfix:after {
  content: "";
  clear: both;
  display: block;
}
