<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie 1</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Search</a>
    <a href="/about">About</a>
  </nav>
  <h1>Movie 1 Sinatra Database</h1>

  <div class="container">
    <%= yield %>
  </div>

  <script src="/jquery.js"></script>
  <script src="/main.js"></script>
</body>
</html>
