body {
  background-image:url ("https://i.ytimg.com/vi/JIJtCHuRXHw/maxresdefault.jpg");
  background-position: cover
}

a {
  color: rebeccapurple;
}

.yield {
  border: 50px solid black;
  padding: 100px;
}
