// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background-color: lemonchiffon;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: rebeccapurple;
  padding: 2em;
  font-size: 1.3em;
}
form {
  font-size: 2em;
}
