<h1> Movie search </h1>

<form action="/result" method = "GET">
  <p>
    <label> What movie are you looking for? </label>
    <input type="text" placeholder ="Type here" name="movie_name">
  </p>
  <input type="submit" value="Find Movie">
</form>
