<h2>This is where out form should be loaded</h2>

<form action="/result" method = "GET">
<p>
  <label>What is the first number ?</label>
  <input type="number" name = "first_number">
</p>

<p>
  <label>What is the second number ?</label>
  <input type="number" name = "second_number">
</p>
<input type="submit" value ="show result">
</form>
