<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Sinatra Application</title>
 <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/calculate">Calculate</a>
  </nav>

  <h1>OMDB</h1>

  <div class="yield">
    <h2>Search the movie</h2>
    <%= yield %>
  </div>

</body>
</html>
