<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Mountain Index</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/mountains"> Mountains List </a>
    <a href="/mountains/new">Register a New Mountain</a>
  </nav>

  <h1>Our Animals App</h1>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
