<h2>This should show the new form</h2>

<form action="/mountains" method="POST">
  <!-- p*3>input+label -->
  <p>
    <label>Name: </label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Height: </label>
    <input type="text" name="height">
  </p>
  <p>
    <label>Location: </label>
    <input type="text" name="location">
  </p>
  <p>
    <label>Image: </label>
    <input type="text" name="image">
  </p>
  <input type="submit" value="Create animal">
</form>
