<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Surf CRUD App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/waves">All Waves</a>
    <a href="/waves/new">Log a new wave</a>
  </nav>
  <br>


  <div class="container">
    <h1>Incredible Waves in Indo</h1>
    <%= yield %>
    <img src="" class = "background">
  </div>
</body>
</html>
