
<h2>Submit a wave</h2>

<form action="/waves" method="POST">

  <p>
    <label for="">Wave: </label>
    <input type="text" name="wave">
  </p>
  <p>
    <label for="">Image: </label>
    <input type="text" name="image">
  </p>
  <p>
    <label for="">Description: </label>
    <input type="text" name="description">
  </p>
    <input type="submit" value="Create wave">
</form>
