// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bold {
  font-size: 30px;
}

body {
  font-famil: monospace;
  background-color: gainsboro;
  text-align: center;
}

a {
  color: blue;
}
