body {
      text-align: center;
      background: url("http://i.imgur.com/Y1QfzOj.jpg");
      background-size: cover;
      background-position: center;
      color: black;
      font-family: helvetica;
}
p {
  font-size: 20px;
  font-weight: bold;
}

form {
  font-size: 20px;
  font-weight: bold;
}
