<form>
  <fieldset>
    <legend>Search Flickr</legend>
    <input type="text" id="searchFlickr" placeholder="Search:">
    <input type="submit" value="Search Flickr">
  </fieldset>
</form>

<p id="error"></p>

<div id="container">

  <div id="page-container">
    <button id="prev-page">Prev page</button>
    <p id="page"></p>
    <button id="next-page">Next page</button>
  </div>

</div>
