body{
  color: #BABABA;
}
.container {
  width: 960px;
  margin: auto;
}
.footerimages img{
  border: #BABABA solid 5px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  top: 0px;
  transition: all 1s;

}
#readMe{
  color: blue;
  cursor: pointer;
}
span{
  color: blue;
  
}
h2{
  color: black;
}
.footerimages img:hover{
  transform: scale(1.1,1.1);
  border: solid black 5px;
  z-index: 1;

}
