<h2>New Book:</h2>

<!-- HM!!: FOr POST create and update methods you need to include HTML input tag attr 'name="variable"' which Sinatra will post to the relevant action = url in a params hash for access by the post /books method in main.rb -->
<form action="/books" method = "POST">
  <p>
    <label>Title:</label><br>
    <input type="text" name="title">
  </p>
  <p>
    <label>Author:</label><br>
    <input type="text" name="author">
  </p>
  <p>
    <label>Cover:</label><br>
    <input type="text" name="cover">
  </p>
  <p>
    <label>Price:</label><br>
    <input type="float" name="price">
  </p>

  <input type="submit" value="New Book">

</form>
