<h2>WDi16 Mentorship from Badger:</h2>

<img class="badger" src="https://ga-core.s3.amazonaws.com/production/uploads/instructor/image/6710/thumb_BLACK_WHITE2010.jpg" alt="">

<p class="badger-quote">"If everyone just tries real hard to be better at things we'll get through this just fine."</p>
<hr>
<p class="badger-quote"><small>If you people could type faster you wouldn’t need to copy and paste code from Slack and this afternoon would have been DELIGHTFUL</small></p>
