body {
  background-color: green;
  font-family: sans-serif;

}
a{

}
nav {
  text-align: center;
  font-size: 14;
  font-style: italic;
  font-family: sans-serif;
  color: yellow;
  
}
.container {
  border: 10px solid yellow;
  padding: 30px;
}
