<h2>The output of your search is displayed below</h2>
<ul>
    <li>Movie title: <%=@movie_title %> </li>
    <li>Movie genre: <%=@movie_genre %> </li>
    <li>Movie year: <%=@movie_year %> </li>
</ul>

<img src="<%= @movie_poster %>" alt="">
