<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>My OMDB application</title>
</head>
<body>
  <nav>
    <a href="">Home</a>
    <a href="">##</a>
  </nav>
  <h1>This is the generic content</h1>
  <div class="yield">
    <h1>All of the specific content (loaded in the yield statement)</h1>
    <%= yield %>
  </div>

<script src="main.js"></script>
</body>
</html>
