<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a href="/games/eight">Ask the badger</a>
    <a href="/games/secret_number">Secret Number</a>
    <a href="/games/scissor">Scissors Paper Rock</a>
  </nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
