<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" >
</head>
<body>

<p>TESTING TESTING</p>
<div class="yield"style="padding: 50px; border: 10px solid black">

<%= yield %>

</div>
</body>
</html>
