<h1>Magic 8 Ball</h1>

<form action="/games/answer" method="get">
  <input type="text" name="question" placeholder="Enter your question here.">
  <input type="submit">
</form>
<br>
<br>
<img src="http://www.magicmgmt.com/gary/magic8ball/MAGIC8BALL.gif" alt="" />
