<h1>Rock Paper Scissors</h1>

<form action="/games/rock_paper_scissors_play" method="get">
  <select name="throw">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
