<h1>Secret Number</h1>

<form class="" action="/games/secret_result" method="get">
  <button type="submit" name="button" value="1">1</button>
  <button type="submit" name="button" value="2">2</button>
  <button type="submit" name="button" value="3">3</button>
  <button type="submit" name="button" value="4">4</button>
  <button type="submit" name="button" value="5">5</button>
  <button type="submit" name="button" value="6">6</button>
  <button type="submit" name="button" value="7">7</button>
  <button type="submit" name="button" value="8">8</button>
  <button type="submit" name="button" value="9">9</button>
  <button type="submit" name="button" value="10">10</button>
</form>
