body {
	background-image: url("Tree.png");
}

.scoreBoard {
	Width: 190px;
	height: 60px;
	margin:  0 auto;
	text-align: center;
	padding-top: 10px;
	background-color: rgba(130, 158, 87, 0.3);
}

.title {
	box-sizing: border-box;
	height: 20px;
	width: 120px;
	text-align: center;
	margin: auto;
	color: white;
	font-weight: bold;
	font-family: monospace;
	background-color: rgba(130, 158, 87, 0.3);
}

h1 {
	box-sizing: border-box;
	height: 40px;
	width: 400px;
	text-align: center;
	margin: auto;
	font-size: 40px;
	font-family: monospace;
}

.game1, .game2, .game3 {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: auto;
	margin-right: 3px;
	margin-left: 3px;
	opacity: 0.8;
	background-color: white;
	background-color: rgba(210, 205, 220, 0.6);
}

.board{
	box-sizing: border-box;
	height: 350px;
	width: 350px;
	margin: 30px auto;
	background-color: rgba(130, 158, 87, 0.3);
}
.row {
		box-sizing: border-box;
}

.cell {
	box-sizing: border-box;
	position: relative;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	opacity: 1;
	background-color: rgba(210, 205, 220, 0.6);
	overflow:hidden;
}
.badger {
	background-image: url("Badger.png");
	background-size: cover;
	opacity: 1;
}
.wolf {
	background-image: url("Wolf.png");
	background-size: cover;
	opacity: 1;
}
.red {
		background-image: url("Red.png");
		background-size: cover;
		opacity: 1;
}
