<form action="/breeds" method="post">
  <p>
    <lable>Breed: </lable>
    <input type="text" name="breed">
  </p>
  <p>
    <lable>Image: </lable>
    <input type="text" name="image">
  </p>
  <p>
    <lable>Type: </lable>
    <input type="text" name="type">
  </p>
  <p>
    <lable>Description: </lable>
    <input type="text" name="description">
  </p>
  <input type="submit" value="Create Breed">
</form>
