<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Awesome Dog Breeds</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <nav>
    <a href="/">Home |</a>
    <a href="/breeds">Dog Breeds |</a>
    <a href="/breeds/new">Add a Breed</a>
  </nav>
  <h1>Welcome to our awesome dog breeds page!</h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
